In [7]:
INPUT_DIR = "サンプルコード_20201021/6章/"

In [8]:
import os
import pandas as pd

In [9]:
os.listdir(INPUT_DIR)

['network_weight.csv',
 'rel_cost.csv',
 'trans_route_new.csv',
 'demand.csv',
 'tbl_factory.csv',
 'tbl_transaction.csv',
 '6П═_ХиЧмВ╠Н┼УKГЛБ[ГgВЁГRГУГTГЛГeГBГУГOВ╖ВщВPВOЦ{ГmГbГN.ipynb',
 'trans_route.csv',
 'tbl_warehouse.csv',
 'supply.csv',
 'network_pos.csv',
 'trans_route_pos.csv',
 'trans_cost.csv',
 '6П═_ХиЧмВ╠Н┼УKГЛБ[ГgВЁГRГУГTГЛГeГBГУГOВ╖ВщВPВOЦ{ГmГbГN_answer.ipynb']

In [10]:
df_fact = pd.read_csv(INPUT_DIR + "tbl_factory.csv", index_col=0)
df_tran = pd.read_csv(INPUT_DIR + "tbl_transaction.csv", index_col=0)
df_ware = pd.read_csv(INPUT_DIR + "tbl_warehouse.csv", index_col=0)
df_cost = pd.read_csv(INPUT_DIR + "rel_cost.csv", index_col=0)

In [11]:
join_data = pd.merge(df_tran, df_cost, left_on=["ToFC", "FromWH"], right_on=["FCID", "WHID"], how="left")
join_data.head()

       TransactionDate     ToFC   FromWH  Quantity     FCID     WHID  Cost
0  2019-01-01 02:11:10  FC00004  WH00003        33  FC00004  WH00003   1.1
1  2019-01-01 06:12:42  FC00007  WH00006        19  FC00007  WH00006   1.3
2  2019-01-01 06:32:32  FC00006  WH00004        31  FC00006  WH00004   0.9
3  2019-01-01 07:17:06  FC00002  WH00003        18  FC00002  WH00003   1.6
4  2019-01-01 07:52:18  FC00001  WH00002        30  FC00001  WH00002   0.8

In [12]:
join_data = pd.merge(join_data, df_fact, left_on="ToFC", right_on="FCID", how="left")
join_data.head()

,TransactionDate,ToFC,FromWH,Quantity,FCID,WHID,Cost,FCName,FCDemand,FCRegion
0,2019-01-01 02:11:10,FC00004,WH00003,33,FC00004,WH00003,1.1,横須賀工場,25,関東
1,2019-01-01 06:12:42,FC00007,WH00006,19,FC00007,WH00006,1.3,那須工場,25,東北
2,2019-01-01 06:32:32,FC00006,WH00004,31,FC00006,WH00004,0.9,山形工場,30,東北
3,2019-01-01 07:17:06,FC00002,WH00003,18,FC00002,WH00003,1.6,木更津工場,29,関東
4,2019-01-01 07:52:18,FC00001,WH00002,30,FC00001,WH00002,0.8,東京工場,28,関東

In [13]:
join_data = pd.merge(join_data, df_ware, left_on="FromWH", right_on="WHID", how="left")
join_data = join_data[["TransactionDate", "Quantity", "Cost", "ToFC", "FCName", "FCDemand", "FromWH", "WHName", "WHSupply", "WHRegion"]]
join_data.head()

,TransactionDate,Quantity,Cost,ToFC,FCName,FCDemand,FromWH,WHName,WHSupply,WHRegion
0,2019-01-01 02:11:10,33,1.1,FC00004,横須賀工場,25,WH00003,豊洲倉庫,42,関東
1,2019-01-01 06:12:42,19,1.3,FC00007,那須工場,25,WH00006,山形倉庫,65,東北
2,2019-01-01 06:32:32,31,0.9,FC00006,山形工場,30,WH00004,郡山倉庫,60,東北
3,2019-01-01 07:17:06,18,1.6,FC00002,木更津工場,29,WH00003,豊洲倉庫,42,関東
4,2019-01-01 07:52:18,30,0.8,FC00001,東京工場,28,WH00002,品川倉庫,41,関東

In [14]:
kanto = join_data.loc[join_data["WHRegion"]=="関東"]
kanto.head()

,TransactionDate,Quantity,Cost,ToFC,FCName,FCDemand,FromWH,WHName,WHSupply,WHRegion
0,2019-01-01 02:11:10,33,1.1,FC00004,横須賀工場,25,WH00003,豊洲倉庫,42,関東
3,2019-01-01 07:17:06,18,1.6,FC00002,木更津工場,29,WH00003,豊洲倉庫,42,関東
4,2019-01-01 07:52:18,30,0.8,FC00001,東京工場,28,WH00002,品川倉庫,41,関東
7,2019-01-01 09:09:30,12,1.5,FC00001,東京工場,28,WH00003,豊洲倉庫,42,関東
8,2019-01-01 10:52:55,27,1.5,FC00003,多摩工場,31,WH00003,豊洲倉庫,42,関東

In [15]:
tohoku = join_data.loc[join_data["WHRegion"]=="東北"]
tohoku.head()

,TransactionDate,Quantity,Cost,ToFC,FCName,FCDemand,FromWH,WHName,WHSupply,WHRegion
1,2019-01-01 06:12:42,19,1.3,FC00007,那須工場,25,WH00006,山形倉庫,65,東北
2,2019-01-01 06:32:32,31,0.9,FC00006,山形工場,30,WH00004,郡山倉庫,60,東北
5,2019-01-01 08:56:09,31,0.3,FC00005,仙台工場,21,WH00005,仙台倉庫,72,東北
6,2019-01-01 09:00:15,33,0.7,FC00006,山形工場,30,WH00006,山形倉庫,65,東北
9,2019-01-01 14:12:51,21,0.7,FC00006,山形工場,30,WH00006,山形倉庫,65,東北